@using StokTakip.Models.Vm;
@model List<TblSepet>

@{
    List<TblCari> cari = ViewBag.Cari;
    List<TblSipari> siparis = ViewBag.siparis;
    List<TblOdemetipi> odeme = ViewBag.Odeme;
}
<div class="card">
    <div class="d-flex justify-content-between">
        <h5 class="card-header">Ürünler</h5>

    </div>


    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>Tarih</th>
                    <th>Müşteri Adı</th>
                    <th>Satış</th>
                    <th>Ödeme Türü</th>
                    <th>Alınan Tutar</th>
                    <th>Kasa Yazarı</th>
                    <th>Kâr/Zarar</th>
                    <th>#</th>


                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach (var item in Model)
                {
                    var siparisler = siparis.FirstOrDefault(m => m.Id == item.SiparisId) ?? new();
                    var unvan = cari.FirstOrDefault(s => s.Id == siparisler.CariId) ?? new();
                    var tip = odeme.FirstOrDefault(s => s.Id==siparisler.CariId) ?? new();
                    <tr>
                        <td>@string.Format("{0:D}", @siparisler.KayitTarihi)</td>
                        <td>@unvan.Unvan</td>
                        <td>@string.Format("{0:C2}",(item.SatisTutar*item.Adet))</td>
                        <td>@tip.OdemeAdi</td>
                        <td>@string.Format("{0:C2}",@siparisler.AlinanTutar)</td>
                        <td>@(item.SatisTutar-(item.SatisTutar * tip.Komisyon / 100))</td>
                        <td>@(item.SatisTutar-(item.SatisTutar * tip.Komisyon / 100))</td>
                        
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Satis/Detay/@siparisler.Id"><i class='bx bx-info-circle me-1' style="color:#8d8fff"></i>Detayları Görüntüle</a>
                                    <a class="dropdown-item" href="/Satis/Sil/@siparisler.Id"><i class="bx bx-trash me-1" style="color:#8d8fff"></i> Sil</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }




            </tbody>
        </table>
    </div>
</div>
