@using StokTakip.Models.Vm;
@model List<TblSepet>

@{
    List<TblCari> cari = ViewBag.Cari;
    List<TblSipari> siparis = ViewBag.siparis;
}
<div class="card">
    <div class="d-flex justify-content-between">
        <h5 class="card-header">Ürünler</h5>
  
    </div>


    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>

                    <th>Tarih</th>
                    <th>Müşteri Adı</th>
                    <th>Maliyet</th>
                    <th>Satış</th>
                    <th>Ödeme Türü</th>
                    <th>Alınan Tutar</th>
                    <th>Kasa Yazarı</th>
                    <th>K/Z</th>
                    <th>#</th>


                </tr>
            </thead>
            <tbody class="table-border-bottom-0">

                @foreach (var item in Model)
                {
                    var siparisler = siparis.FirstOrDefault(m => m.Id == item.SiparisId) ?? new();
                    var unvan = cari.FirstOrDefault(s => s.Id == siparisler.CariId) ??new();
                    <tr>
                        <td>@siparisler.KayitTarihi</td>
                        <td>@unvan.Unvan</td>
                        <td>@item.Maliyet</td>
                        <td>@item.SatisTutar</td>
                        <td>@siparisler.OdemeSeklİ</td>
                        <td>@siparisler.AlinanTutar</td>
                        
                        <td>
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/Urun/UrunForm/@item.Id"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                    <a class="dropdown-item" href="/Urun/USil/@item.Id"><i class="bx bx-trash me-1"></i> Delete</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                }




            </tbody>
        </table>
    </div>
</div>
